@import url("https://fonts.googleapis.com/css?family=Aladin|Berkshire+Swash|Aladin|Londrina+Solid|Aladin|Aladin|Aladin&display=swap");
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #6d8773;
}
#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: rgb(42, 58, 44);
  text-decoration: none;
  text-shadow: 2px 2px 2px white;
  font-size: 30px;
  font-family: "Aladin";
}

a:hover {
  color: rgb(42, 58, 44) !important;
  font-weight: 700 !important;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 100ms;
}

li {
  margin: 10px;
  font-size: 25px;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(rgb(197, 197, 153), rgb(150, 170, 155));
  height: 100%;
  margin: 0;
  padding-top: 10px;
  box-shadow: 0 12px 16px 0 rgba(157, 158, 156, 0.24),
    0 17px 50px 0 rgba(249, 250, 248, 0.19);
}

.taskbox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
  height: 35%;
  background-image: linear-gradient(rgb(197, 197, 127), rgb(108, 134, 115));
  transition: background-image 1s ease;
}

.taskbox.red {
  background-image: linear-gradient(orange, red);
}

.instructions,
.result {
  display: flex;
  width: 20%;
  height: 80%;
  background-image: linear-gradient(rgb(212, 212, 207), rgb(108, 134, 115));
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 5px rgb(44, 66, 47);
  padding: 10px;
  margin-top: 20px;
}

.instructions p {
  font-size: 1.1vw;
  line-height: 1.2;
}

.flex-side {
  display: flex;
  flex-direction: column;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title,
.title-result {
  color: rgb(30, 31, 29);
  text-align: center;
  font-family: "Aladin";
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 2px 2px 2px #ecf0ea, 4px 4px 4px #fefffa;
}

.title-result {
  height: 90%;
}

.title-result + div {
  font-size: 1vw;
  padding-left: 10%;
}

.title-result + div p {
  margin: 0;
}

.buttonFont {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.home-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.landing-page-container {
  display: flex;
  flex-direction: row;
  min-height: fill-available;
  width: 100%;
  height: 100%;
}

.join-random-btl {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  margin: 50px;
  position: relative;
}

.join-btl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 15px;
}

.single-game {
  background: rgba(161, 159, 159, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;
  margin: 30px;
  padding: 5px;
  width: 300px;
  height: 200px;
  align-content: flex-end;
  z-index: 500000;
}

.home-page-navbar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
  align-content: center;
  padding-left: 20%;
}
.home-page-navbar-container {
  background: rgba(161, 159, 159, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;
  padding: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  align-content: center;
  padding-right: 20%;
}
.profile-info-container {
  background: rgba(161, 159, 159, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;
}

.home-page-container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sign-in {
  display: flex;
  flex-direction: column;
}

.sign-up,
.sign-in {
  display: flex;
  flex-direction: column;

  align-content: center;
  background-size: cover;
}

.sign-up-logo {
  text-align: center;
  color: rgb(30, 31, 29);
  text-shadow: 2px 2px 2px #ecf0ea, 4px 4px 4px #fefffa;
  font-size: 80px;
  font-family: "Aladin";
  margin-bottom: 0;
}

.wizards-of-code {
  color: rgb(30, 31, 29);
  text-shadow: 2px 2px 2px #ecf0ea, 4px 4px 4px #fefffa;
  font-size: 80px;
  font-family: "Aladin";
  margin-bottom: 0;
}
.sign-in-box {
  display: flex;
  max-lines: 1;
  padding-left: 40%;
}

.sign-up-form {
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-content: center;
}

.input-fields {
  line-height: 35px;
  width: 100%;
  border-radius: 7px;
  margin: 7px;
}

.sign-up-img {
  z-index: -1;
  position: absolute;
  opacity: 0.9;
}

.sign-up-btn,
.user-history-btn,
.go-to-battle,
.list-skills,
.change-profile-pic,
.create-battle-btn,
.join-random-btl-btn,
.openGame,
.submit-result,
.select-avatar {
  font-size: 25px;
  color: rgb(12, 11, 11);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(rgb(197, 197, 127), rgb(108, 134, 115));
  margin-left: 15px;
  font-family: "Aladin";
  border: none;
  font-weight: 100;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  padding: 5px;
  outline: 0 !important;
}

.sign-up-btn:hover,
.user-history-btn:hover,
.go-to-battle:hover,
.list-skills:hover,
.change-profile-pic:hover,
.create-battle-btn:hover,
.join-random-btl-btn:hover,
.openGame:hover,
.submit-result:hover,
.select-avatar:hover {
  color: #f8f4f4 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -5px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
  outline: 0 !important;
}

.join-random-btl-btn,
.create-battle-btn {
  width: 400px;
}
.openGame {
  text-align: center;
}
.select-avatar {
  width: 200px;
}

.submit-result {
  width: 15vw;
  height: 40px;
  font-size: 1.5vw;
}

.opponent {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 2px 2px 2px #1b1b1b;
  font-size: 25px;
  font-family: "Aladin";
}

.error {
  color: red;
}

.no-account {
  text-align: center;
  color: rgb(250, 247, 246);
  text-decoration: none;
  font-size: 45px;
  font-family: "Aladin";
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.forgot-password {
  margin-left: 40%;
  color: rgb(30, 31, 29);
  font-size: 37px;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.forgot-password:hover,
.sp-link:hover {
  color: rgb(34, 36, 35) !important;
  font-weight: 700 !important;
  background: none;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 100ms;
}

.sp-link {
  color: rgb(30, 31, 29);
  font-size: 37px;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.home-img {
  height: 100%;
  width: 100%;
  z-index: -3;
  position: absolute;
  opacity: 0.9;
}

.sign-out-btn {
  color: white;
  border: 2px solid rgb(184, 180, 180);
  z-index: 10;
  font-family: "Aladin";
  padding: 5px;
  background-image: linear-gradient(rgb(58, 58, 28), rgb(29, 49, 34));
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
}

@keyframes elrond {
  from {
    background-position: 0;
  }
  to {
    background-position: 7960px;
  }
}

.elrond-idle {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(7960px / 20);
  height: 438px;
  background: url(./styling/elrond-idle.png);
  animation: elrond 1.5s steps(20) infinite;
}

.elrond-casts-spell {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(7960px / 20);
  height: 438px;
  background: url(./styling/elrond-cast-spell.png);
  animation: elrond 1.5s steps(20) infinite;
}

.elrond-hurt {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(7960px / 20);
  height: 438px;
  background: url(./styling/elrond-hurt.png);
  animation: elrond 1.5s steps(20) infinite;
}

.elrond-die {
  content: url(./styling/elrond-die.png);
}

@keyframes galadriel {
  from {
    background-position: 0;
  }
  to {
    background-position: 6840px;
  }
}

.galadriel-idle {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(6840px / 20);
  height: 410px;
  background: url(./styling/galadriel-idle.png);
  animation: galadriel 1.5s steps(20) infinite;
}

.galadriel-casts-spell {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(6840px / 20);
  height: 410px;
  background: url(./styling/galadriel-cast-spell.png);
  animation: galadriel 1.5s steps(20);
}

.galadriel-hurt {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(6840px / 20);
  height: 410px;
  background: url(./styling/galadriel-hurt.png);
  animation: galadriel 3s steps(20);
}

.galadriel-die {
  content: url(./styling/galadriel-die.png);
}

@keyframes arwen {
  from {
    background-position: 0;
  }
  to {
    background-position: 5560px;
  }
}

.arwen-idle {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(5560px / 20);
  height: 347px;
  background: url(./styling/arwen-idle.png);
  animation: arwen 1.5s steps(20) infinite;
}

.arwen-casts-spell {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(5560px / 20);
  height: 347px;
  background: url(./styling/arwen-casts-spell.png);
  animation: arwen 1.5s steps(20);
}

.arwen-hurt {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(5560px / 20);
  height: 347px;
  background: url(./styling/arwen-hurt.png);
  animation: arwen 3s steps(20);
}

@keyframes figwit {
  from {
    background-position: 0;
  }
  to {
    background-position: 9640px;
  }
}

.figwit-idle {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(9640px / 20);
  height: 372px;
  background: url(./styling/figwit-idle.png);
  animation: figwit 1.5s steps(20) infinite;
}

.figwit-casts-spell {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(9640px / 20);
  height: 372px;
  background: url(./styling/figwit-casts-spell.png);
  animation: figwit 5s steps(20);
}

.figwit-hurt {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleX(0.7) scaleY(0.7);
  width: calc(9640px / 20);
  height: 372px;
  background: url(./styling/figwit-hurt.png);
  animation: figwit 3s steps(20);
}

.fireball-right {
  width: calc(6217px / 13);
  height: 110px;
  background: url(./styling/fireball.png);
  transform: scaleX(-1) scaleY(1);
  animation: attack 1s steps(calc(13 * 100));
  position: absolute;
  border-radius: 70%;
  top: 33%;
  left: 35%;
}
.gamebox {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  flex: auto;
  justify-content: space-evenly;
}

.fireball-left {
  width: calc(6217px / 13);
  height: 110px;
  background: url(./styling/fireball.png);
  animation: attack 1s steps(calc(13 * 100));
  position: absolute;
  border-radius: 70%;
  top: 33%;
  left: 35%;
}
@keyframes attack {
  from {
    background-position: 0px;
  }
  to {
    background-position: -6217px;
  }
}

.gamepage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.healthName {
  margin: 0;
  padding: 0;
  font-family: "Aladin";
  font-size: 1vw;
  line-height: 1;
  color: white;
}

.gamestage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65%;
}

.connected-users {
  background: rgba(161, 159, 159, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(161, 159, 159, 0.5);
  height: 700px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.img-avatar {
  height: 50%;
  width: 100%;
}

.health-bar1 {
  width: 400px;
  height: 35px;
  background-color: #9aaf8f;
  margin: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.innerbar-lost1 {
  width: 390px;
  height: 25px;
  background: rgba(230, 226, 226, 0.5);
  margin: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
}

.innerbar-activ1 {
  height: 25px;
  background-color: #e99090;
  display: flex;
  justify-content: flex-start;
  border-radius: 4px;
}

.hp-points1 {
  margin-block-start: 0;
}

.health-bar2 {
  width: 400px;
  height: 35px;
  background-color: #9aaf8f;
  margin: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.innerbar-lost2 {
  width: 390px;
  height: 25px;
  background: rgba(230, 226, 226, 0.5);
  margin: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
}

.innerbar-activ2 {
  height: 25px;
  background-color: #e99090;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
}

.hp-points2 {
  margin-block-start: 0;
}

.glow-fireball {
  /* background-color: #004A7F; */
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  /* display: inline-block; */
  /* padding: 5px 10px; */
  background-image: url(./styling/fireball-button.png);
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: inset 1px 2px 2.5px;
  }
  50% {
    box-shadow: inset 2px 3px 4px;
  }
  100% {
    box-shadow: inset 1px 2px 2.5px;
  }
}

.lose-win {
  text-align: center;
  color: rgb(30, 31, 29);
  text-shadow: 2px 2px 2px #ecf0ea, 4px 4px 4px #fefffa;
  font-size: 80px;
  font-family: "Aladin";
  margin-block-start: 0%;
  height: 30%;
  padding-top: 30px;
}

.game-over {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grave {
  position: relative;
  left: 45%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
