body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
}

.taskbox {
  display: flex;
  justify-content: row;
  align-content: space-evenly;
  width: 100%;
  height: 50%;
}

.ReactCodeMirror {
  width: 60%;
  word-wrap: break-word;
}

.instructions {
  display: block;
  width: 20%;
  background-color: blanchedalmond;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 2%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  background-color: blanchedalmond;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 2%;
}
.title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
.buttonFont {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.home-page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.landing-page-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  min-height: fill-available;
  background: #a2e8f5
    url("https://wallpapermemory.com/uploads/489/wizard-background-hd-1080p-74705.jpg");

  background-size: cover;
}

.home-page-navbar {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  align-content: center;
  padding-left: 20%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 50%;
  align-content: center;
  padding-right: 20%;
}

.user-history-btn,
.go-to-battle,
.list-skills,
.change-profile-pic,
.create-battle-btn,
.join-random-btl-btn {
  font-size: 25px;
  color: white;
  background: rgb(125, 131, 214);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.openGame {
  font-size: 25px;
  color: black;
  background: rgba(109, 248, 2, 0.562);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
